USE [SCHEDULER_SERVICE]
GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_DAY_LOCK]    Script Date: 17-07-2026 15:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_CHECK_DAY_LOCK
CREATE PROCEDURE [dbo].[USP_CHECK_DAY_LOCK]
(
    @USERID INT,
    @DAYDATE DATE
)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM DAY_CREATION_LOCK WHERE USERID = @USERID AND DAYDATE = @DAYDATE)
    BEGIN
        SELECT 1 AS LockExists, DAYID, LOCKEDBY, LOCKEDAT
        FROM DAY_CREATION_LOCK
        WHERE USERID = @USERID AND DAYDATE = @DAYDATE;
    END
    ELSE
    BEGIN
        SELECT 0 AS LockExists;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATE_DAY_LOCK]    Script Date: 17-07-2026 15:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- USP_CREATE_DAY_LOCK
CREATE PROCEDURE [dbo].[USP_CREATE_DAY_LOCK]
(
    @USERID INT,
    @DAYDATE DATE,
    @LOCKEDBY NVARCHAR(100)
)
AS
BEGIN
    INSERT INTO DAY_CREATION_LOCK (USERID, DAYDATE, LOCKEDBY)
    VALUES (@USERID, @DAYDATE, @LOCKEDBY);
    
    SELECT SCOPE_IDENTITY() AS LockId;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PENDING_MODE_CHANGE]    Script Date: 17-07-2026 15:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- USP_GET_PENDING_MODE_CHANGE
CREATE PROCEDURE [dbo].[USP_GET_PENDING_MODE_CHANGE]
(
    @USERID INT,
    @EFFECTIVEDATE DATE
)
AS
BEGIN
    SELECT 
        CHANGELOGID, USERID, NEWMODE, PREVIOUSMODE, REASON,
        EFFECTIVEDATE, MODECHANGEID, MINIMUMRULEIDS
    FROM PENDING_MODE_CHANGES
    WHERE USERID = @USERID 
      AND EFFECTIVEDATE = @EFFECTIVEDATE
      AND PROCESSED = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LOG_JOB_FAILURE]    Script Date: 17-07-2026 15:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- USP_LOG_JOB_FAILURE
CREATE PROCEDURE [dbo].[USP_LOG_JOB_FAILURE]
(
    @EXECUTIONID INT,
    @ERRORCODE NVARCHAR(50),
    @ERRORMESSAGE NVARCHAR(MAX)
)
AS
BEGIN
    DECLARE @StartedAt DATETIME2;
    SELECT @StartedAt = STARTEDAT FROM JOB_EXECUTION_LOG WHERE EXECUTIONID = @EXECUTIONID;
    
    UPDATE JOB_EXECUTION_LOG
    SET STATUS = 'FAILED',
        COMPLETEDAT = SYSUTCDATETIME(),
        DURATIONMS = DATEDIFF(MILLISECOND, @StartedAt, SYSUTCDATETIME()),
        ERRORCODE = @ERRORCODE,
        ERRORMESSAGE = @ERRORMESSAGE
    WHERE EXECUTIONID = @EXECUTIONID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LOG_JOB_START]    Script Date: 17-07-2026 15:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_LOG_JOB_START
CREATE PROCEDURE [dbo].[USP_LOG_JOB_START]
(
    @JOBTYPE NVARCHAR(50),
    @USERID INT = NULL,
    @TARGETDATE DATE = NULL
)
AS
BEGIN
    INSERT INTO JOB_EXECUTION_LOG (JOBTYPE, USERID, TARGETDATE, STATUS, STARTEDAT)
    VALUES (@JOBTYPE, @USERID, @TARGETDATE, 'RUNNING', SYSUTCDATETIME());
    
    SELECT SCOPE_IDENTITY() AS ExecutionId;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LOG_JOB_SUCCESS]    Script Date: 17-07-2026 15:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- USP_LOG_JOB_SUCCESS
CREATE PROCEDURE [dbo].[USP_LOG_JOB_SUCCESS]
(
    @EXECUTIONID INT,
    @METADATA NVARCHAR(MAX) = NULL
)
AS
BEGIN
    DECLARE @StartedAt DATETIME2;
    SELECT @StartedAt = STARTEDAT FROM JOB_EXECUTION_LOG WHERE EXECUTIONID = @EXECUTIONID;
    
    UPDATE JOB_EXECUTION_LOG
    SET STATUS = 'SUCCESS',
        COMPLETEDAT = SYSUTCDATETIME(),
        DURATIONMS = DATEDIFF(MILLISECOND, @StartedAt, SYSUTCDATETIME()),
        METADATA = @METADATA
    WHERE EXECUTIONID = @EXECUTIONID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_MARK_MODE_CHANGE_PROCESSED]    Script Date: 17-07-2026 15:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- USP_MARK_MODE_CHANGE_PROCESSED
CREATE PROCEDURE [dbo].[USP_MARK_MODE_CHANGE_PROCESSED]
(
    @USERID INT,
    @EFFECTIVEDATE DATE,
    @CREATEDDAYID INT
)
AS
BEGIN
    UPDATE PENDING_MODE_CHANGES
    SET PROCESSED = 1,
        PROCESSEDAT = SYSUTCDATETIME(),
        CREATEDDAYID = @CREATEDDAYID
    WHERE USERID = @USERID AND EFFECTIVEDATE = @EFFECTIVEDATE;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RELEASE_DAY_LOCK]    Script Date: 17-07-2026 15:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- USP_RELEASE_DAY_LOCK
CREATE PROCEDURE [dbo].[USP_RELEASE_DAY_LOCK]
(
    @USERID INT,
    @DAYDATE DATE,
    @DAYID INT
)
AS
BEGIN
    UPDATE DAY_CREATION_LOCK
    SET RELEASEDAT = SYSUTCDATETIME(),
        DAYID = @DAYID
    WHERE USERID = @USERID AND DAYDATE = @DAYDATE;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_STORE_MODE_CHANGE]    Script Date: 17-07-2026 15:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_STORE_MODE_CHANGE
CREATE PROCEDURE [dbo].[USP_STORE_MODE_CHANGE]
(
    @USERID INT,
    @NEWMODE NVARCHAR(20),
    @PREVIOUSMODE NVARCHAR(20),
    @REASON NVARCHAR(500),
    @EFFECTIVEDATE DATE,
    @MODECHANGEID INT,
    @MINIMUMRULEIDS NVARCHAR(200)
)
AS
BEGIN
    -- Check if already exists for this date
    IF EXISTS (
        SELECT 1 FROM PENDING_MODE_CHANGES
        WHERE USERID = @USERID AND EFFECTIVEDATE = @EFFECTIVEDATE AND PROCESSED = 0
    )
    BEGIN
        -- Update existing
        UPDATE PENDING_MODE_CHANGES
        SET NEWMODE = @NEWMODE,
            PREVIOUSMODE = @PREVIOUSMODE,
            REASON = @REASON,
            MODECHANGEID = @MODECHANGEID,
            MINIMUMRULEIDS = @MINIMUMRULEIDS,
            RECEIVEDAT = SYSUTCDATETIME()
        WHERE USERID = @USERID AND EFFECTIVEDATE = @EFFECTIVEDATE AND PROCESSED = 0;
    END
    ELSE
    BEGIN
        -- Insert new
        INSERT INTO PENDING_MODE_CHANGES (
            USERID, NEWMODE, PREVIOUSMODE, REASON, 
            EFFECTIVEDATE, MODECHANGEID, MINIMUMRULEIDS
        )
        VALUES (
            @USERID, @NEWMODE, @PREVIOUSMODE, @REASON,
            @EFFECTIVEDATE, @MODECHANGEID, @MINIMUMRULEIDS
        );
    END
    
    SELECT SCOPE_IDENTITY() AS ChangeLogId;
END
GO
