USE [SCHEDULER_SERVICE]
GO
/****** Object:  Table [dbo].[DAY_CREATION_LOCK]    Script Date: 17-07-2026 15:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAY_CREATION_LOCK](
	[LOCKID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[DAYDATE] [date] NOT NULL,
	[LOCKEDAT] [datetime2](7) NOT NULL,
	[LOCKEDBY] [nvarchar](100) NOT NULL,
	[RELEASEDAT] [datetime2](7) NULL,
	[DAYID] [int] NULL,
 CONSTRAINT [PK_DAY_CREATION_LOCK] PRIMARY KEY CLUSTERED 
(
	[LOCKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DAY_LOCK_USER_DATE] UNIQUE NONCLUSTERED 
(
	[USERID] ASC,
	[DAYDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVALUATION_QUEUE]    Script Date: 17-07-2026 15:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVALUATION_QUEUE](
	[QUEUEID] [int] IDENTITY(1,1) NOT NULL,
	[DAYID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
	[DAYDATE] [date] NOT NULL,
	[CLOSEDAT] [datetime2](7) NOT NULL,
	[EVALUATIONSTATUS] [nvarchar](20) NOT NULL,
	[EVALUATIONATTEMPTS] [int] NOT NULL,
	[LASTATTEMPT] [datetime2](7) NULL,
	[EVALUATEDAT] [datetime2](7) NULL,
	[EVALUATIONID] [int] NULL,
	[CREATEDAT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EVALUATION_QUEUE] PRIMARY KEY CLUSTERED 
(
	[QUEUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EVALUATION_DAYID] UNIQUE NONCLUSTERED 
(
	[DAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAILED_OPERATIONS]    Script Date: 17-07-2026 15:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAILED_OPERATIONS](
	[OPERATIONID] [int] IDENTITY(1,1) NOT NULL,
	[OPERATIONTYPE] [nvarchar](50) NOT NULL,
	[USERID] [int] NOT NULL,
	[TARGETDATE] [date] NULL,
	[PAYLOAD] [nvarchar](max) NOT NULL,
	[FAILUREREASON] [nvarchar](max) NULL,
	[RETRYCOUNT] [int] NOT NULL,
	[MAXRETRIES] [int] NOT NULL,
	[NEXTRETRYAT] [datetime2](7) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[CREATEDAT] [datetime2](7) NOT NULL,
	[RESOLVEDAT] [datetime2](7) NULL,
 CONSTRAINT [PK_FAILED_OPERATIONS] PRIMARY KEY CLUSTERED 
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_EXECUTION_LOG]    Script Date: 17-07-2026 15:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_EXECUTION_LOG](
	[EXECUTIONID] [int] IDENTITY(1,1) NOT NULL,
	[JOBTYPE] [nvarchar](50) NOT NULL,
	[USERID] [int] NULL,
	[TARGETDATE] [date] NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[STARTEDAT] [datetime2](7) NOT NULL,
	[COMPLETEDAT] [datetime2](7) NULL,
	[DURATIONMS] [int] NULL,
	[ERRORCODE] [nvarchar](50) NULL,
	[ERRORMESSAGE] [nvarchar](max) NULL,
	[RETRYCOUNT] [int] NOT NULL,
	[METADATA] [nvarchar](max) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JOB_EXECUTION_LOG] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PENDING_MODE_CHANGES]    Script Date: 17-07-2026 15:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENDING_MODE_CHANGES](
	[CHANGELOGID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[NEWMODE] [nvarchar](20) NOT NULL,
	[PREVIOUSMODE] [nvarchar](20) NOT NULL,
	[REASON] [nvarchar](500) NOT NULL,
	[EFFECTIVEDATE] [date] NOT NULL,
	[MODECHANGEID] [int] NOT NULL,
	[MINIMUMRULEIDS] [nvarchar](200) NULL,
	[PROCESSED] [bit] NOT NULL,
	[PROCESSEDAT] [datetime2](7) NULL,
	[CREATEDDAYID] [int] NULL,
	[RECEIVEDAT] [datetime2](7) NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PENDING_MODE_CHANGES] PRIMARY KEY CLUSTERED 
(
	[CHANGELOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MODE_CHANGE_USER_DATE] UNIQUE NONCLUSTERED 
(
	[USERID] ASC,
	[EFFECTIVEDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DAY_CREATION_LOCK] ADD  DEFAULT (sysutcdatetime()) FOR [LOCKEDAT]
GO
ALTER TABLE [dbo].[EVALUATION_QUEUE] ADD  DEFAULT ('PENDING') FOR [EVALUATIONSTATUS]
GO
ALTER TABLE [dbo].[EVALUATION_QUEUE] ADD  DEFAULT ((0)) FOR [EVALUATIONATTEMPTS]
GO
ALTER TABLE [dbo].[EVALUATION_QUEUE] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDAT]
GO
ALTER TABLE [dbo].[FAILED_OPERATIONS] ADD  DEFAULT ((0)) FOR [RETRYCOUNT]
GO
ALTER TABLE [dbo].[FAILED_OPERATIONS] ADD  DEFAULT ((3)) FOR [MAXRETRIES]
GO
ALTER TABLE [dbo].[FAILED_OPERATIONS] ADD  DEFAULT ('PENDING_RETRY') FOR [STATUS]
GO
ALTER TABLE [dbo].[FAILED_OPERATIONS] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDAT]
GO
ALTER TABLE [dbo].[JOB_EXECUTION_LOG] ADD  DEFAULT ('PENDING') FOR [STATUS]
GO
ALTER TABLE [dbo].[JOB_EXECUTION_LOG] ADD  DEFAULT ((0)) FOR [RETRYCOUNT]
GO
ALTER TABLE [dbo].[JOB_EXECUTION_LOG] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[PENDING_MODE_CHANGES] ADD  DEFAULT ((0)) FOR [PROCESSED]
GO
ALTER TABLE [dbo].[PENDING_MODE_CHANGES] ADD  DEFAULT (sysutcdatetime()) FOR [RECEIVEDAT]
GO
ALTER TABLE [dbo].[PENDING_MODE_CHANGES] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[EVALUATION_QUEUE]  WITH CHECK ADD  CONSTRAINT [CHK_EVALUATION_STATUS] CHECK  (([EVALUATIONSTATUS]='FAILED' OR [EVALUATIONSTATUS]='COMPLETED' OR [EVALUATIONSTATUS]='EVALUATING' OR [EVALUATIONSTATUS]='PENDING'))
GO
ALTER TABLE [dbo].[EVALUATION_QUEUE] CHECK CONSTRAINT [CHK_EVALUATION_STATUS]
GO
ALTER TABLE [dbo].[FAILED_OPERATIONS]  WITH CHECK ADD  CONSTRAINT [CHK_FAILED_OP_STATUS] CHECK  (([STATUS]='ABANDONED' OR [STATUS]='RESOLVED' OR [STATUS]='RETRYING' OR [STATUS]='PENDING_RETRY'))
GO
ALTER TABLE [dbo].[FAILED_OPERATIONS] CHECK CONSTRAINT [CHK_FAILED_OP_STATUS]
GO
ALTER TABLE [dbo].[JOB_EXECUTION_LOG]  WITH CHECK ADD  CONSTRAINT [CHK_JOB_STATUS] CHECK  (([STATUS]='SKIPPED' OR [STATUS]='FAILED' OR [STATUS]='SUCCESS' OR [STATUS]='RUNNING' OR [STATUS]='PENDING'))
GO
ALTER TABLE [dbo].[JOB_EXECUTION_LOG] CHECK CONSTRAINT [CHK_JOB_STATUS]
GO
ALTER TABLE [dbo].[JOB_EXECUTION_LOG]  WITH CHECK ADD  CONSTRAINT [CHK_JOB_TYPE] CHECK  (([JOBTYPE]='ACTIVATE_RULESET' OR [JOBTYPE]='EVALUATE_DAY' OR [JOBTYPE]='CLOSE_DAY' OR [JOBTYPE]='CREATE_DAY'))
GO
ALTER TABLE [dbo].[JOB_EXECUTION_LOG] CHECK CONSTRAINT [CHK_JOB_TYPE]
GO
ALTER TABLE [dbo].[PENDING_MODE_CHANGES]  WITH CHECK ADD  CONSTRAINT [CHK_MODE_CHANGE_MODE] CHECK  (([NEWMODE]='MINIMUM' OR [NEWMODE]='STANDARD'))
GO
ALTER TABLE [dbo].[PENDING_MODE_CHANGES] CHECK CONSTRAINT [CHK_MODE_CHANGE_MODE]
GO
