<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="Access-Control-Allow-Origin" />
        <remove name="Access-Control-Allow-Methods" />
        <remove name="Access-Control-Allow-Headers" />
        <remove name="Access-Control-Allow-Credentials" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="src/index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <iisnode node_env="development" loggingEnabled="true" devErrorsEnabled="true" />
    <rewrite>
      <rules>
        <rule name="ReverseProxyToGateway" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:6017/scheduler/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
